<div class="container text-center">
  <h2 class="mt-4">Appointments for JMBG: {{ jmbg }}</h2>
  <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>

  <div class="form-group mt-3">
    <label for="jmbgInput">Enter JMBG:</label>
    <input type="text" class="form-control" id="jmbgInput" [(ngModel)]="jmbgInput" name="jmbgInput" required>
  </div>

  <button type="button" class="btn btn-primary mb-3" (click)="loadAppointmentsByJMBG(jmbgInput)">Load Appointments</button>

  <ul>
    <li *ngFor="let appointment of appointments" class="mt-2">
      {{ appointment.startTime }} - {{ appointment.endTime }} 
      <button *ngIf="appointment.id !== undefined" class="btn btn-danger ml-2" (click)="cancelAppointment(appointment.id)">Delete</button>
    </li>
  </ul>

  <h3 class="mt-4">Create New Appointment</h3>
  <form (ngSubmit)="createAppointment()" class="mt-3">
    <div class="form-group">
      <label for="startTime">Start Time:</label>
      <input type="datetime-local" id="startTime" class="form-control" [(ngModel)]="newAppointment.startTime" name="startTime" required>
    </div>
    <div class="form-group">
      <label for="endTime">End Time:</label>
      <input type="datetime-local" id="endTime" class="form-control" [(ngModel)]="newAppointment.endTime" name="endTime" required>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
